Source: mod-authn-linotp
Section: httpd
Priority: optional
Maintainer: Andreas Gabriel <gabriel@hrz.uni-marburg.de>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5.0.0), dpatch, libtool, autoconf, automake, apache2-threaded-dev (>= 2.0.50-10), libcurl4-openssl-dev

Package: libapache2-mod-authn-linotp
Architecture: any
Depends: ${shlibs:Depends}, apache2.2-common (>= 2.2.3-3), libcurl3
Description: Apache module for authenticating with LinOTP
 This apache module can be used to authenticate users against LinOTP
 (http://linotp.org). This auth module only works with basic
 authentication.  It uses a cookie to cache the authenticated user.
 The authentication of the first request is done against the LinOTP
 server.  The consecutive requests are handled by the cookie.
